<div class="container subscription-container">
  <div class="row">
  <%  if (typeof subs !== "undefined" && subs.length > 0) { %>
      <% subs.forEach((subscription) => { %>
      <div class="col-sm-10 sub-show">
        <a href="/subscription/<%= subscription._id %>"><h1 class="sub-title"><%= subscription.title %></h1></a>

        <h3 class="subscription-description"><%= subscription.description %></h3>
        <p class="subscription-category"><%= subscription.interest %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <img class="subscription-image" src="<%= subscription.imageUrl %>">
      </div>
    </div>
  </div>

      <% }); %>
  <% } %>



  <% if (typeof subscription !== "undefined"){ %>
    <div class="row">
    <div class="col-sm-10">
      <h1 class="subbox">Subscription Boxes</h2>
      <h1 class="sub-title"><%= subscription.title %></h1>
      <h3 class="subscription-description"><%= subscription.description %></h3>
      <p class="subscription-category"><%= subscription.interest %></p>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img class="subscription-image" src="<%= subscription.imageUrl %>">
    </div>
  </div>
</div>
  <% } %>
