<div class="container subscription-container">
  <div class="col-12 title-subs"><h1>Our Personalized Boxes</h1>
  <%  if (typeof subs !== "undefined" && subs.length > 0) { %>

      <div class="row">
        <% subs.forEach((subscription) => { %>
      <div class="col-lg-3  show-subs">
        <a href="/subscription/<%= subscription._id %>"><h1 class="sub-title"><%= subscription.title %></h1></a>

        <h3 class="subscription-description"><%= subscription.description %></h3>

        <img class="subscription-image" src="/<%= subscription.subImageUrl %>">
      </div>
      <% }); %>
    </div>
    </div>
  </div>


      <footer><a href="/subscription/new">New subscription</a>
  <% } %>




  <% if (typeof subscription !== "undefined"){ %>
    <div class="row">
    <div class="col-sm-10 specific-sub">
      <h1 class="sub-title"><%= subscription.title %></h1>
      <h3 class="subscription-description"><%= subscription.description %></h3>
      <p class="subscription-category"><%= subscription.interest %></p>

    </div>

  <div class="row">
    <div class="col-sm-8">

    </div>
  </div>
  <footer>
    <form action="/subscription/user/<%= subscription._id %>/subscription" method="post">
      <button class="que" type="select">Send this to me next!</button>
    </form>
    <a href="/subscription/<%= subscription._id %>/edit">Edit subscription</a>
</div>
  <% } %>
