<div class="container products-container">
  <div class="row">
    <% products.forEach((products) => { %>
    <div class="col-sm-2">
      <div class="col-sm-10">
      <h1><%= products.name %></h1>

      <h3 class="products-description"><%= products.description %></h3>
      <p class="products-category"><%= products.category %></p>
      
      <div class="col-sm-8">
        <img class="products-image" src="/<%= products.imageUrl %>">
      </div>

      <form action="/products/<%= products._id%>/delete" method="POST">
    <button type="submit">Delete Product</button>
  </form>
    </div>
  </div>
<% }); %>
  </div>
</div>
</div>
